 .white-txt{
color:#fff;
}

.pink-txt{
color:#df0352;
}

.main-content{
width: 75%;
margin: auto;
}

#button-margin{
margin: 5em;
}

.conclusion{
margin:2em;
}

.center-featurette{
text-align: center;
}

.float-left{
width:25%;
float: left;
margin: 1em;
}

.book-titles{
font-style: italic;
}